
<div class="list-group mb-4">
  <a href="/" class="list-group-item list-group-item-action">Eventos</a>
  <a href="/user/dashboard/account" class="list-group-item list-group-item-action">Minha Conta</a>
  <a href="/user/dashboard/tickets" class="list-group-item list-group-item-action">Ingressos</a>
  <a href="/user/dashboard/favorites" class="list-group-item list-group-item-action">Favoritos</a>
  <a href="/logout" class="list-group-item list-group-item-action">Sair</a>
  <a href="/user/dashboard/producer" class="list-group-item list-group-item-action">Produtor</a>
  <a href="/admin/eventos" class="list-group-item list-group-item-action">Criar Evento</a>
</div>
